# Ignore Python virtual environment
venv/

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Ignore OS/system files
.DS_Store
Thumbs.db
